n8n/workflows/My workflow(1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        112
      ],
      "id": "6415e32d-a9ac-4704-9367-d95dadbbda82",
      "name": "Webhook",
      "webhookId": "073688a0-40c7-48c5-8770-899a4454c4b9"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body || $json;\n\nconst metadata = data.metadata || {};\nconst trivy = data.trivy || {};\nconst semgrep = data.semgrep || {};\nconst zap = data.zap || {};\n\nlet findings = [];\n\nfunction cleanHtml(text = \"\") {\n  return String(text).replace(/<[^>]*>/g, \"\").trim();\n}\n\nfunction normalizeSeverity(tool, rawSeverity = \"\") {\n  const toolName = String(tool || \"\").toLowerCase();\n  const s = String(rawSeverity || \"\").toLowerCase();\n\n  // Semgrep severity:\n  // ERROR   -> high\n  // WARNING -> medium\n  // INFO    -> info\n  if (toolName === \"semgrep\") {\n    if (s === \"error\") return \"high\";\n    if (s === \"warning\") return \"medium\";\n    if (s === \"info\") return \"info\";\n  }\n\n  // Trivy / ZAP / generic\n  if (s.includes(\"critical\")) return \"critical\";\n  if (s.includes(\"high\")) return \"high\";\n  if (s.includes(\"medium\")) return \"medium\";\n  if (s.includes(\"moderate\")) return \"medium\";\n  if (s.includes(\"low\")) return \"low\";\n  if (s.includes(\"informational\")) return \"info\";\n  if (s.includes(\"info\")) return \"info\";\n\n  return \"info\";\n}\n\n// Trivy\nfor (const result of trivy.Results || []) {\n  for (const vuln of result.Vulnerabilities || []) {\n    const rawSeverity = vuln.Severity || \"UNKNOWN\";\n\n    findings.push({\n      tool: \"trivy\",\n      type: \"container/dependency\",\n      severity: normalizeSeverity(\"trivy\", rawSeverity),\n      raw_severity: rawSeverity,\n\n      cve: vuln.VulnerabilityID || \"\",\n      package: vuln.PkgName || \"\",\n      installed_version: vuln.InstalledVersion || \"\",\n      fixed_version: vuln.FixedVersion || \"\",\n      title: vuln.Title || vuln.VulnerabilityID || \"\",\n      file: result.Target || \"\",\n      line: null,\n\n      cvss:\n        vuln.CVSS?.nvd?.V3Score ||\n        vuln.CVSS?.redhat?.V3Score ||\n        vuln.CVSS?.ghsa?.V3Score ||\n        0,\n\n      description: cleanHtml(vuln.Description || \"\"),\n      solution: vuln.FixedVersion\n        ? `Upgrade ${vuln.PkgName} to ${vuln.FixedVersion}`\n        : \"\"\n    });\n  }\n}\n\n// Semgrep\nfor (const r of semgrep.results || []) {\n  const rawSeverity = r.extra?.severity || \"UNKNOWN\";\n\n  findings.push({\n    tool: \"semgrep\",\n    type: \"sast\",\n    severity: normalizeSeverity(\"semgrep\", rawSeverity),\n    raw_severity: rawSeverity,\n\n    rule_id: r.check_id || \"\",\n    title: r.extra?.message || r.check_id || \"Semgrep finding\",\n    file: r.path || \"\",\n    line: r.start?.line || null,\n\n    message: r.extra?.message || \"\",\n    code: r.extra?.lines || \"\",\n    cvss: 0,\n\n    description: cleanHtml(\n      r.extra?.metadata?.description ||\n      r.extra?.message ||\n      \"\"\n    ),\n\n    solution: cleanHtml(\n      r.extra?.metadata?.fix ||\n      r.extra?.metadata?.remediation ||\n      \"\"\n    )\n  });\n}\n\n// ZAP\nfor (const site of zap.site || []) {\n  for (const alert of site.alerts || []) {\n    const rawSeverity = alert.riskdesc || alert.risk || \"UNKNOWN\";\n\n    findings.push({\n      tool: \"zap\",\n      type: \"dast\",\n      severity: normalizeSeverity(\"zap\", rawSeverity),\n      raw_severity: rawSeverity,\n\n      title: alert.alert || \"ZAP alert\",\n      url: alert.url || site[\"@name\"] || \"\",\n      file: alert.url || site[\"@name\"] || \"\",\n      line: null,\n\n      confidence: alert.confidence || \"\",\n      description: cleanHtml(alert.desc || \"\"),\n      solution: cleanHtml(alert.solution || \"\"),\n      cvss: 0\n    });\n  }\n}\n\nreturn [\n  {\n    json: {\n      metadata,\n      total_findings: findings.length,\n      findings\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        112
      ],
      "id": "aa4f4ca8-dca4-4c5f-ab14-14e80d54d74b",
      "name": "normalize findings"
    },
    {
      "parameters": {
        "jsCode": "const findings = $json.findings || [];\n\nlet counts = {\n  critical: 0,\n  high: 0,\n  medium: 0,\n  low: 0,\n  info: 0\n};\n\nlet tool_counts = {\n  semgrep: 0,\n  trivy: 0,\n  zap: 0\n};\n\nfor (const f of findings) {\n  const sev = String(f.severity || \"info\").toLowerCase();\n  const tool = String(f.tool || \"\").toLowerCase();\n\n  if (counts[sev] !== undefined) {\n    counts[sev]++;\n  } else {\n    counts.info++;\n  }\n\n  if (tool_counts[tool] !== undefined) {\n    tool_counts[tool]++;\n  }\n}\n\nconst baseScore =\n  counts.critical * 10 +\n  counts.high * 7 +\n  counts.medium * 3 +\n  counts.low * 1;\n\nconst normalizedScore = Math.min(10, Math.round(baseScore / 5));\n\nlet block_reasons = [];\n\nif (counts.critical > 0) {\n  block_reasons.push(\"Critical vulnerability found\");\n}\n\nif (counts.high > 0) {\n  block_reasons.push(\"High severity vulnerability found\");\n}\n\n// Nhiều medium cũng nên block vì có thể là rủi ro tích lũy\nif (counts.medium >= 10) {\n  block_reasons.push(\"Too many medium severity findings\");\n}\n\nif (normalizedScore >= 8) {\n  block_reasons.push(\"Risk score threshold exceeded\");\n}\n\nconst shouldBlock = block_reasons.length > 0;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      severity_counts: counts,\n      tool_counts,\n      pre_risk_score: normalizedScore,\n      should_block_precheck: shouldBlock,\n      block_reasons\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        112
      ],
      "id": "a8946e6b-c8c7-4a75-9743-a38d98c95e12",
      "name": "Risk Pre-Scoring"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        112
      ],
      "id": "c8dac60a-01e3-4fe7-995a-e3feae7039bb",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "jsCode": "const findings = $json.findings || [];\nconst counts = $json.severity_counts || {};\nconst reasons = $json.block_reasons || [];\n\nconst decision = $json.should_block_precheck === true ? \"BLOCK\" : \"ALLOW\";\n\nconst severity =\n  (counts.critical || 0) > 0 ? \"critical\" :\n  (counts.high || 0) > 0 ? \"high\" :\n  (counts.medium || 0) > 0 ? \"medium\" :\n  (counts.low || 0) > 0 ? \"low\" :\n  \"info\";\n\nreturn [\n  {\n    json: {\n      project_name: $json.metadata?.repo || \"unknown-project\",\n      repo: $json.metadata?.repo || \"\",\n      branch: $json.metadata?.branch || \"\",\n      commit: $json.metadata?.commit || \"\",\n\n      total_findings: $json.total_findings || findings.length,\n      risk_score: $json.pre_risk_score || 0,\n      severity,\n\n      analysis_type: \"rule_based_security_gate\",\n      gate_reasons: reasons,\n\n      ai_summary: \"\",\n      ai_fix_suggestion: \"\",\n\n      should_block_pipeline: decision === \"BLOCK\",\n      pipeline_decision: decision,\n\n      severity_counts: counts,\n      tool_counts: $json.tool_counts || {},\n\n      ai_findings: [],\n      normal_findings: findings,\n      all_findings: findings\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        112
      ],
      "id": "50d30060-3eff-4cf0-9c00-c2bc5ee95dc2",
      "name": "Format Report for Dashboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dashboard:8000/api/scans",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        112
      ],
      "id": "f2122b3b-1ae8-4b72-9257-0fbaa41c9c61",
      "name": "save to database"
    },
    {
      "parameters": {
        "jsCode": "const gate = $(\"Format Report for Dashboard\").first().json;\nconst dbResponse = $json || {};\n\nreturn [\n  {\n    json: {\n      pipeline_decision: gate.pipeline_decision,\n      should_block_pipeline: gate.should_block_pipeline,\n      risk_score: gate.risk_score,\n      severity: gate.severity,\n      severity_counts: gate.severity_counts,\n      total_findings: gate.total_findings,\n      message:\n        gate.pipeline_decision === \"BLOCK\"\n          ? \"Security gate blocked the pipeline. CD deployment stopped.\"\n          : \"Security gate passed. CD deployment allowed.\",\n      dashboard_saved: true,\n      scan_id: dbResponse.id || dbResponse.scan_id || null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        112
      ],
      "id": "cd059a98-ff13-49d4-ad3c-1014866856ba",
      "name": "prepare webhook reponse"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "normalize findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize findings": {
      "main": [
        [
          {
            "node": "Risk Pre-Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Pre-Scoring": {
      "main": [
        [
          {
            "node": "Format Report for Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report for Dashboard": {
      "main": [
        [
          {
            "node": "save to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save to database": {
      "main": [
        [
          {
            "node": "prepare webhook reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare webhook reponse": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": -1
  },
  "versionId": "7babf0da-a0b3-4d7e-a349-b615fd36e6a6",
  "meta": {
    "instanceId": "5448416601799471bd98ad596102c4c1d4934b58a56d38140f7b61d9d1555382"
  },
  "nodeGroups": [],
  "id": "lx4HpnLbyRkf1KuH",
  "tags": []
}
